/*  Media Queries  */


@media screen and (min-width: 1024px) {
    body{
        background-color: rgb(3, 3, 12);
        color: white;
        background-image: url('../img/pexels-kássia-melo-pequeno.jpg');
        background-position: center center;
    }
    main{
        width: 30vw;
    }
    img{
        width:20vw;
    }
    input{
        width:15vw;
    }
    
    button{
        width:15vw;
    }
    main > section{
        margin-top: 40px;
    }
}